<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Alpha blog corp</a>
      by <a href="https://github.com/DenisTonyshev">Denis Tonyshev</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", info_path %></li>
      </ul>
    </nav>
  </footer>
</div>